body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    /* background-color: #3498db;
    cursor: pointer; */
    background-size: cover;
}

/* .card.flipped {
    background-color: #e74c3c;
} */

button#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    cursor: pointer;
}


